<div class="d-flex justify-content-center"> 
  <div class="row mb-3">
    <div class="col">
      <div class="card h-100 blog-card"> 
        <%= image_tag "producer_stack.svg", class: "card-img-top blog-img p-3" %> 
        <div class="card-body d-flex flex-column"> 
          <h5 class="card-title text-center"><%= @blog.title %></h5>
          <hr>
          <div class="flex-grow-1 overflow-auto"> 
            <p class="card-text text-wrap"><%= @blog.content %></p>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted float-end">
            <%= @blog.updated_at.in_time_zone("Mountain Time (US & Canada)").strftime('%B %e, %Y %l:%M %p %Z') %>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
