<div class="row">
  <div class="col text-center">
    <h1 class="me-3">Admin User Show Page</h1>
  </div>
  <section>
    <div class="row mb-4 p-4 text-center">
      <div class="card col-4 p-3">
        Users
      </div>
      <div class="card col-4 p-3">
        Beats
      </div>
      <div class="card col-4 p-3">
        Blog posts
      </div>
    </div>
  <section>
</div>