<div class="row">
  <div class="col text-center">
    <h1 class="me-3">Admin User Show Page</h1>
  </div>
  <div class="row">
    <div class="card col-12 p-3">
      Column
    </div>
    <div class="card col-6 p-3">
      Column
    </div>
    <div class="card col-6 p-3">
      Column
    </div>
  </div>
</div>