<!-- ===========footer============ -->
<footer class="footer text-white pt-5 mt-auto" style="background-color: #333333;">
	<div class="footer-content pb-3">
		<div class="container">
			<div class="row">
				<!-- Footer widget 1 -->
				<div class="col-md-4">
					<div class="widget">
						<a href="index.html" class="footer-logo">
							<!-- footer logo Start -->
							<%= image_tag "producer_stack.svg" %>
							<!-- footer logo End -->
						</a>
            <p class="mt-3">To serve and care for our Community <br>one producer at a time</p>
					</div>
				</div>
				<!-- Footer widget 2 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget address" style="background-position: 50% 20px; background-repeat: no-repeat; background-size: contain;">
						<ul class="list-group list-group-borderless">
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-map-alt"></i>"Address" </li>
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-headphone-alt"></i> "phone #" </li>
						</ul>
					</div>
				</div>
				<!-- Footer widget 3 -->
				<div class="col-md-2 col-sm-6">
					<div class="widget">
						<ul class="list-group list-group-borderless">
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-email"></i> "Email"</li>
							</li>
						</ul>
					</div>
				</div>
				<!-- Footer widget 4 -->
				<div class="col-md-3">
					<div class="widget bg-grad p-4 all-text-white rounded">
						<i class="ti-email newsletter-icon"></i>
						<p class="mb-2">Join the Producer Stack Team.</p>
						<div class="form-group mb-0">
							<button class="btn btn-dark mb-0">Join us</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="divider mt-3"></div>
	<!--footer copyright -->
	<div class="footer-copyright py-3">
		<div class="container">
			<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-start">
				<!-- copyright text -->
				<div class="copyright-text">©2023 All Rights Reserved by <a href="#!">Producer Stack</a></div>
				<!-- copyright links-->
				<div class="copyright-links primary-hover mt-3 mt-md-0">
					<ul class="list-inline">
						<li class="list-inline-item ps-2"><a class="list-group-item-action" href="#">Home</a></li>
						<li class="list-inline-item ps-2"><a class="list-group-item-action" href="#">About Us</a></li>
						<li class="list-inline-item ps-2"><a class="list-group-item-action" href="#">Career</a></li>
						<li class="list-inline-item ps-2"><a class="list-group-item-action" href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- ===========END footer============ -->

