<footer class="footer bg-dark text-white pt-5 mt-auto text-center">
	<div class="footer-content pb-3">
		<div class="container">
			<div class="row">
				<!-- Footer widget 1 -->
				<div class="col-md-6">
					<div>
						<%= image_tag "Producer_stack-removebg-preview.png", style: "height: 150px;" %>
            <p>The innovative, proactive, music producer community.</p>
					</div>
				</div>
				<div class="col-md-5 mt-3">
					<div>
						<i class="ti-email newsletter-icon"></i>
						<h1 class="mb-2">Join the Producer Stack Team.</h1>
						<div class="form-group mb-0">
							<button class="btn btn-danger mb-3">Join us</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row mt-3"></div>
			<div class=" text-center mt-3">
				<div class="copyright-text">©2023 All Rights Reserved by <a href="#!">Producer Stack</a></div>
			</div>
	</div>
</footer>
